body{
    background-color: rgb(241, 235, 227);
  }
  
  footer{
    background: rgb(132, 129, 129);
  }
  
  footer p{
    text-align: center;
  }
  
  table {
    border: 2px solid rosybrown;
  }
  
  table th{
    border: 1px solid black;
  }